Data Analysis : Netflix Movies & TV Shows

Useful Libraries Imported

In [44]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

Read CSV File

In [45]:
df=pd.read_csv('/Users/avinashmagar/Documents/Code/class/personal_practice/netflix_movies.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

Dataset Shape

In [46]:
df.shape

(8807, 12)

Datasets Size

In [47]:
df.size

105684

To See All Columns In Datasets

In [48]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

Information Dataset Columns

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

Datasets Numerial Values Summary

In [50]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

Null Values In Dataset

In [51]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

Null Values Sum

In [52]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Duplicate Values In Dataset

In [53]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Length: 8807, dtype: bool

Dataset Dublicate Values Sum

In [54]:
df.duplicated().sum()

0

Data Cleaning

In [55]:
df['country'].isnull().sum()

831

In [56]:
df['country'].value_counts()

country
United States                             2818
India                                      972
United Kingdom                             419
Japan                                      245
South Korea                                199
                                          ...
Romania, Bulgaria, Hungary                   1
Uruguay, Guatemala                           1
France, Senegal, Belgium                     1
Mexico, United States, Spain, Colombia       1
United Arab Emirates, Jordan                 1
Name: count, Length: 748, dtype: int64

In [57]:
df['country'].fillna(df['country'].mode()[0],inplace=True)

/var/folders/5p/b13xgh3d2mlbcnqmgjp7bysr0000gn/T/ipykernel_8503/668350743.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna(df['country'].mode()[0],inplace=True)

In [58]:
df['country'].isnull().sum()

0

In [59]:
df['cast'].value_counts()

cast
David Attenborough                                                                                                                                                                            19
Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jigna Bhardwaj, Rajesh Kava, Mousam, Swapnil                                                                                                       14
Samuel West                                                                                                                                                                                   10
Jeff Dunham                                                                                                                                                                                    7
David Spade, London Hughes, Fortune Feimster                                                                                                                                                   6
                                                                                                                                                                                              ..
Michael PeÃ±a, Diego Luna, Tenoch Huerta, Joaquin Cosio, JosÃ© MarÃ­a Yazpik, Matt Letscher, Alyssa Diaz                                                                                          1
Nick Lachey, Vanessa Lachey                                                                                                                                                                    1
Takeru Sato, Kasumi Arimura, Haru, Kentaro Sakaguchi, Takayuki Yamada, Kendo Kobayashi, Ken Yasuda, Arata Furuta, Suzuki Matsuo, Koichi Yamadera, Arata Iura, Chikako Kaku, Kotaro Yoshida     1
Toyin Abraham, Sambasa Nzeribe, Chioma Chukwuka Akpotha, Chioma Omeruah, Chiwetalu Agu, Dele Odule, Femi Adebayo, Bayray McNwizu, Biodun Stephen                                               1
Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanana, Manish Chaudhary, Meghna Malik, Malkeet Rauni, Anita Shabdish, Chittaranjan Tripathy                                                          1
Name: count, Length: 7692, dtype: int64

In [60]:
df['cast'].isnull().sum()

825

In [61]:
df['cast'].fillna(df['cast'].mode()[0],inplace=True)

/var/folders/5p/b13xgh3d2mlbcnqmgjp7bysr0000gn/T/ipykernel_8503/24154178.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cast'].fillna(df['cast'].mode()[0],inplace=True)

In [62]:
df['cast'].isnull().sum()

0

In [63]:
df['director'].isnull().sum()

2634

In [64]:
df['director'].value_counts()

director
Rajiv Chilaka                     19
RaÃºl Campos, Jan Suter            18
Marcus Raboy                      16
Suhas Kadav                       16
Jay Karas                         14
                                  ..
Raymie Muzquiz, Stu Livingston     1
Joe Menendez                       1
Eric Bross                         1
Will Eisenberg                     1
Mozez Singh                        1
Name: count, Length: 4528, dtype: int64

In [65]:
df['director'].fillna(df['director'].mode()[0],inplace=True)

/var/folders/5p/b13xgh3d2mlbcnqmgjp7bysr0000gn/T/ipykernel_8503/4072090862.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['director'].fillna(df['director'].mode()[0],inplace=True)

In [66]:
df['director'].isnull().sum()

0

In [67]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [68]:
df['date_added'].value_counts()

date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
                    ...
December 4, 2016       1
November 21, 2016      1
November 19, 2016      1
November 17, 2016      1
January 11, 2020       1
Name: count, Length: 1767, dtype: int64

converting datatype

In [69]:
print(df['date_added'].dtype)

object

conversion column format

In [70]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')
df['Month']=df['date_added'].dt.month

In [71]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,David Attenborough,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",9.0
1,s2,TV Show,Blood & Water,Rajiv Chilaka,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",9.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9.0
3,s4,TV Show,Jailbirds New Orleans,Rajiv Chilaka,David Attenborough,United States,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",9.0
4,s5,TV Show,Kota Factory,Rajiv Chilaka,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,9.0

In [72]:
df['date_added'].isnull().sum()

98

In [73]:
df['date_added'].fillna(df['date_added'].mean(),inplace=True)

In [74]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           4
duration         3
listed_in        0
description      0
Month           98
dtype: int64

In [75]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           4
duration         3
listed_in        0
description      0
Month           98
dtype: int64

In [76]:
df['rating'].describe()

count      8803
unique       17
top       TV-MA
freq       3207
Name: rating, dtype: object

In [77]:
df['rating'].fillna(df['rating'].mode()[0],inplace=True)

/var/folders/5p/b13xgh3d2mlbcnqmgjp7bysr0000gn/T/ipykernel_8503/1316894312.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mode()[0],inplace=True)

In [78]:
df['rating'].isnull().sum()

0

In [79]:
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         3
listed_in        0
description      0
Month           98
dtype: int64

In [80]:
df['duration']

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8802      158 min
8803    2 Seasons
8804       88 min
8805       88 min
8806      111 min
Name: duration, Length: 8807, dtype: object

In [81]:
df['duration'].fillna(df['duration'].mode()[0],inplace=True)

In [82]:
df.isna().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
description      0
Month           98
dtype: int64

In [83]:
df['Month'].value_counts()

Month
7.0     819
12.0    797
9.0     765
4.0     759
10.0    755
8.0     749
3.0     734
1.0     727
6.0     724
11.0    697
5.0     626
2.0     557
Name: count, dtype: int64

In [89]:
df['Month'].fillna(df['Month'].mean(),inplace=True)

/var/folders/5p/b13xgh3d2mlbcnqmgjp7bysr0000gn/T/ipykernel_8503/2962158063.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Month'].fillna(df['Month'].mean(),inplace=True)

In [90]:
df['Month'].isna().sum()

0

In [91]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,David Attenborough,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",9.0
1,s2,TV Show,Blood & Water,Rajiv Chilaka,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",9.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9.0
3,s4,TV Show,Jailbirds New Orleans,Rajiv Chilaka,David Attenborough,United States,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",9.0
4,s5,TV Show,Kota Factory,Rajiv Chilaka,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,9.0

Release Movies By Months

In [98]:
monthly_releases_gb = df.groupby('Month').size().reset_index(name='Number of Releases')
monthly_releases_gb

        Month  Number of Releases
0    1.000000                 727
1    2.000000                 557
2    3.000000                 734
3    4.000000                 759
4    5.000000                 626
5    6.000000                 724
6    6.653347                  98
7    7.000000                 819
8    8.000000                 749
9    9.000000                 765
10  10.000000                 755
11  11.000000                 697
12  12.000000                 797

Release Movies By Year

In [101]:
relese_movie_year=df['release_year'].value_counts().reset_index()
relese_movie_year.head(10)

   release_year  count
0          2018   1147
1          2017   1032
2          2019   1030
3          2020    953
4          2016    902
5          2021    592
6          2015    560
7          2014    352
8          2013    288
9          2012    237

Count the all types of unique rating & which rating are with most number

In [ ]:
pivot_table = df.pivot_table(index='rating', aggfunc='size').reset_index(name='Count')
pivot_table

      rating  Count
0     66 min      1
1     74 min      1
2     84 min      1
3          G     41
4      NC-17      3
5         NR     80
6         PG    287
7      PG-13    490
8          R    799
9      TV-14   2160
10      TV-G    220
11     TV-MA   3211
12     TV-PG    863
13      TV-Y    307
14     TV-Y7    334
15  TV-Y7-FV      6
16        UR      3

In [109]:
most_common_rating = pivot_table.loc[pivot_table['Count'].idxmax()]
most_common_rating

rating    TV-MA
Count      3211
Name: 11, dtype: object

In [110]:
print(f"The most common rating is '{most_common_rating['rating']}' with {most_common_rating['Count']} occurrences.")

The most common rating is 'TV-MA' with 3211 occurrences.

In [111]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,David Attenborough,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",9.0
1,s2,TV Show,Blood & Water,Rajiv Chilaka,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",9.0
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",United States,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,9.0
3,s4,TV Show,Jailbirds New Orleans,Rajiv Chilaka,David Attenborough,United States,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",9.0
4,s5,TV Show,Kota Factory,Rajiv Chilaka,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",11.0
8803,s8804,TV Show,Zombie Dumb,Rajiv Chilaka,David Attenborough,United States,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",7.0
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,11.0
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",1.0
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,3.0

In [115]:
actors = ['Salman Khan', 'Shah Rukh Khan', 'Akshay Kumar']
filtered_movies = df[df['title'].str.contains('|'.join(actors), case=False, na=False)]
filtered_movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month
3376,s3377,Movie,My Next Guest with David Letterman and Shah Ru...,Michael Steed,"Shah Rukh Khan, David Letterman",United States,2019-10-25,2019,TV-PG,61 min,International Movies,"""King of Bollywood"" Shah Rukh Khan opens up ab...",10.0

In [121]:
sorte_movie=df.sort_values(by='duration',ascending=False)
sorte_movie.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month
7166,s7167,Movie,Kaleidoscope,Rupert Jones,"Toby Jones, Anne Reid, Sinead Matthews, Cecili...",United Kingdom,2018-05-08,2016,TV-MA,99 min,Thrillers,A quiet ex-con's tenuous grip on reality start...,5.0
7090,s7091,Movie,InuYasha: The Movie 2: The Castle Beyond the L...,Toshiya Shinohara,"Kappei Yamaguchi, Satsuki Yukino, Koji Tsujita...",Japan,2017-09-01,2002,TV-14,99 min,"Action & Adventure, Anime Features, Internatio...","With their biggest foe seemingly defeated, Inu...",9.0
4882,s4883,Movie,Thi Mai,Patricia Ferreira,"Carmen Machi, Adriana Ozores, Aitana SÃ¡nchez-G...",Spain,2018-05-04,2017,TV-MA,99 min,"Comedies, Dramas, International Movies","Along with her two friends, a determined woman...",5.0
7239,s7240,Movie,Kung Fu Hustle,Stephen Chow,"Stephen Chow, Yuen Wah, Yuen Qiu, Lam Chi-chun...","Hong Kong, China, United States",2020-04-01,2004,R,99 min,"Action & Adventure, Comedies, Cult Movies","Sing, a mobster in 1940s China, longs to be as...",4.0
7218,s7219,Movie,Knock Knock,Eli Roth,"Keanu Reeves, Lorenza Izzo, Ana de Armas, Aaro...","United States, Chile, Israel",2020-11-01,2015,R,99 min,"Horror Movies, Thrillers",A devoted husband and father on his own for th...,11.0
2036,s2037,Movie,#Alive,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,2020-09-08,2020,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ...",9.0
3151,s3152,Movie,A Trip to Jamaica,Robert O. Peters,"Ayo Makun, Funke Akindele, Nse Ikpe-Etim, Dan ...",Nigeria,2019-12-13,2016,TV-MA,99 min,"Comedies, International Movies",A newly engaged couple's romantic vacation in ...,12.0
8497,s8498,Movie,The Sapphires,Wayne Blair,"Chris O'Dowd, Deborah Mailman, Jessica Mauboy,...",Australia,2019-04-26,2012,PG-13,99 min,"Comedies, Dramas, Independent Movies","Sisters Gail, Cynthia and Julie have talent, b...",4.0
6591,s6592,Movie,Democrats,Camilla Nielsson,David Attenborough,"Denmark, Zimbabwe",2016-04-25,2014,NR,99 min,"Documentaries, International Movies",After Zimbabwe's disputed 2008 election result...,4.0
7836,s7837,Movie,Reaction,Husam El-Gohari,"Mahmoud Abdel Moghny, Amr Youssef, Horeya Farg...",Egypt,2019-06-20,2011,TV-14,99 min,"Dramas, International Movies",When a series of seemingly random people are m...,6.0

In [126]:
df['duration_minutes'] = pd.to_numeric(df['duration'], errors='coerce')

Find out the Movies & Series have Maximum time length