In [12]:
import seaborn as sns
import pandas as pd

In [13]:
df=sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [14]:
df.shape

(398, 9)

In [15]:
df["name"].nunique()

305

In [16]:
df.drop('name', axis=1, inplace=True)

In [17]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
from sklearn.model_selection import train_test_split

X = df.drop('mpg', axis=1) 
y = df['mpg']  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Train set:", X_train.shape, y_train.shape)
print("Test set:", X_test.shape, y_test.shape)

Train set: (318, 7) (318,)
Test set: (80, 7) (80,)

In [20]:
df.fillna(df.mean(), inplace=True)  # Replaces NaNs with the column mean

TypeError: Could not convert ['usausausausausausausausausausausausausausajapanusausausajapaneuropeeuropeeuropeeuropeeuropeusausausausausajapanusajapanusausausausausausausausausausausausausausausausausausaeuropeeuropeeuropejapanjapaneuropeusajapanusaeuropeusausausausausausausausausausausajapanusausausausaeuropeeuropeeuropeeuropeusajapanjapanusajapanusausausausausausausausausausausausausausausausausaeuropeusausausausausajapanusajapanjapanusausaeuropeusausaeuropeeuropeeuropeeuropeusaeuropejapanusausausausausajapanusajapanusausausausausausausausausaeuropeeuropeeuropejapanjapanusaeuropeeuropejapanjapaneuropeusausausausausausausausausausausausausausausajapanusausausajapaneuropejapanusaeuropeusaeuropeeuropeeuropeeuropejapaneuropeeuropeusausaeuropeusausausausausausausausausausaeuropejapanusausausausaeuropejapanjapanusaeuropeusaeuropejapaneuropeusausausausajapanusaeuropeusajapanusausausausausausausausausausausausaeuropeusajapanusausausajapaneuropejapaneuropejapaneuropeusajapanjapanjapanusausausausausausausausausausausausausausausausausausajapanjapanusajapanusausajapaneuropeeuropeeuropeeuropeeuropejapanusausausausausausausausausausausausausaeuropejapanusausaeuropeusaeuropeusausausajapaneuropeusausausausaeuropejapanusajapanusausausausaeuropejapanjapanjapanjapanjapanusajapaneuropeeuropeeuropeeuropejapaneuropejapaneuropejapanjapaneuropeusajapanusausausausausajapanusajapanjapanjapanjapanjapanusausausaeuropeeuropejapanjapanjapanjapaneuropeeuropejapanjapanusausausausausausausausausausausausaeuropejapanjapanusausajapanjapanjapanjapanjapanjapanusausausausajapanusausausaeuropeusausausa'] to numeric

In [ ]:
if 'origin' in df.columns:
    df = pd.get_dummies(df, columns=['origin'], drop_first=True)
else:
    print("Column 'origin' not found in DataFrame")

NameError: name 'pd' is not defined

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score


# Create and train the regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Model evaluation
print("MAE:",mean_absolute_error(y_test, y_pred))
print("MSE:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

MAE: 2.287586770442102
MSE: 8.339142500255893
R² Score: 0.8449006123776618

MAE (Mean Absolute Error): 2.29 → On average, the predicted mpg values are about 2.29 units away from the actual values.
MSE (Mean Squared Error): 8.34 → Measures the squared differences between actual and predicted mpg values. A lower value is better.
R² Score: 0.8449 → This means that 84.49% of the variance in mpg can be explained by the features in the model, indicating a good fit.
Likely Prediction Task:
Your model is predicting fuel efficiency (mpg) based on features like cylinders, displacement, horsepower, weight, acceleration, model year, origin, and car name. The high R² suggests a strong relationship between these features and mpg.

In [ ]:
df.head(1)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_japan,origin_usa
0,18.0,8,307.0,130.0,3504,12.0,70,0,1