Planet Datasets Analysis

In [18]:
import seaborn as sns 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Planet Dataset Import

In [19]:
df=sns.load_dataset('planets')
df

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [20]:
df.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')

In [21]:
df.shape

(1035, 6)

In [22]:
df.size

6210

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   method          1035 non-null   object
 1   number          1035 non-null   int64
 2   orbital_period  992 non-null    float64
 3   mass            513 non-null    float64
 4   distance        808 non-null    float64
 5   year            1035 non-null   int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [24]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [25]:
df.isnull()

      method  number  orbital_period   mass  distance   year
0      False   False           False  False     False  False
1      False   False           False  False     False  False
2      False   False           False  False     False  False
3      False   False           False  False     False  False
4      False   False           False  False     False  False
...      ...     ...             ...    ...       ...    ...
1030   False   False           False   True     False  False
1031   False   False           False   True     False  False
1032   False   False           False   True     False  False
1033   False   False           False   True     False  False
1034   False   False           False   True     False  False

[1035 rows x 6 columns]

In [26]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [27]:
print(df['orbital_period'].value_counts())

orbital_period
123.000000     2
1845.000000    2
428.500000     2
883.000000     2
516.220000     1
              ..
3.941507       1
2.615864       1
3.191524       1
4.125083       1
4.187757       1
Name: count, Length: 988, dtype: int64

In [28]:
df['orbital_period'].fillna(df['orbital_period'].mean(),inplace=True)

/var/folders/hs/5z28p9vn4q5b8_l1xc132v2w0000gn/T/ipykernel_2172/3135889800.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['orbital_period'].fillna(df['orbital_period'].mean(),inplace=True)

In [29]:
print(df['orbital_period'].isnull().sum())

0

In [30]:
df['mass'].fillna(df['mass'].median(),inplace=True)

/var/folders/hs/5z28p9vn4q5b8_l1xc132v2w0000gn/T/ipykernel_2172/4064346346.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['mass'].fillna(df['mass'].median(),inplace=True)

In [31]:
print(df['mass'].isnull().sum())

0

In [32]:
df['distance'].value_counts()

distance
780.00    7
39.39     6
303.00    6
6.80      6
613.00    6
         ..
10.10     1
172.00    1
148.00    1
174.00    1
91.57     1
Name: count, Length: 552, dtype: int64

In [33]:
df['distance'].fillna(df['distance'].mode()[0],inplace=True)

/var/folders/hs/5z28p9vn4q5b8_l1xc132v2w0000gn/T/ipykernel_2172/3634962451.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['distance'].fillna(df['distance'].mode()[0],inplace=True)

In [34]:
print(df['distance'].isnull().sum())

0

Data Clean Now

In [35]:
print(df.isnull().sum())

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64