In [17]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import random 
from scipy.stats import norm
from warnings import filterwarnings
filterwarnings('ignore')
import statistics 
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats import weightstats as stests
from scipy.stats import shapiro 
from statsmodels.stats import power 
from scipy.stats import chi2_contingency
from scipy.stats import chisquare

In [18]:
plt.rcParams['figure.figsize']=[15,8]

In [19]:
df=pd.read_csv('/Users/avinashmagar/Documents/DataScience/python/Dataset/StudentsPerformance.csv')
df.head(5)

,gender,race/ethnicity,lunch,test preparation course,math score,reading score,writing score,total score,training institute
0,female,group B,standard,none,89,55,56,200,Nature Learning
1,female,group C,standard,completed,55,63,72,190,Nature Learning
2,female,group B,standard,none,64,71,56,191,Nature Learning
3,male,group A,free/reduced,none,60,99,72,231,Nature Learning
4,male,group C,standard,none,75,66,51,192,Nature Learning

In [6]:
df['training institute'].unique()

array(['Nature Learning', 'Speak Global Learning'], dtype=object)

In [20]:
df_n1=df[df['training institute']=='Nature Learning']
n_1=len(df_n1)
x1=len(df_n1[df_n1['lunch']=='standard'])
df_n2=df[df['training institute']=='Speak Global Learning']
n_2=len(df_n2)
x2=len(df_n2[df_n2['lunch']=='standard'])
# z critical value 
Z_val=round(stats.norm.isf(0.1/2),2)
Z_val

np.float64(1.64)

In [ ]:
# if z_prop less than -1.64 or grether than 1.64 then we reject H0

In [21]:
z_prop,p_val=sm.stats.proportions_ztest(count=[x1,x2],nobs=[n_1,n_2])
print('test statistics:',z_prop)
print('p-value:',p_val)

test statistics: 0.7935300106078008
p-value: 0.4274690915859791