In [1]:
avg=lambda x,y:(x+y)/2
avg(22,12)

17.0

In [2]:
sq=lambda a:a*a
sq(2)

4

In [4]:
cube=lambda b:b*b*b
cube(5)

125

In [5]:
is_even = lambda x: x % 2 == 0

print(is_even(4))  
print(is_even(7))

True
False

In [8]:
number=[1,2,3,4,5,6]
double=lambda number:number
print(number)
print(type(double))

[1, 2, 3, 4, 5, 6]
<class 'function'>

In [22]:

number=[1,2,3,4,5]
double=map(lambda x:x*2,number)
print(list(double))
print(type(number))

[2, 4, 6, 8, 10]
<class 'list'>
1
2
3
4
5

In [25]:
number=[1,2,3,4,5]
double=map(lambda x:x*x*x,number)
print(list(double))
print(type(number))

[1, 0, 1, 0, 1]
<class 'list'>

In [28]:
number=[1,2,3,4,5]
double=map(lambda x:x%2,number)
print(list(double))
print(type(number))

[1, 0, 1, 0, 1]
<class 'list'>

In [7]:
# Filter

l=[1,2,3,45,5]
new=list(filter(lambda x : x>4,l))
print(new)

[45, 5]

In [8]:
l=[1,2,3,45,5]
new=list(filter(lambda x : x<4,l))
print(new)

[1, 2, 3]

In [11]:
l=[1,2,3,44,5]
new=list(filter(lambda x : x%2==0,l))
print(new)

[2, 44]

In [16]:
from functools import reduce

l = [1, 2, 3, 44, 5]

result = reduce(lambda x, y: x + y, l) 
print(result)

55

In [17]:
city=["pune","Ahmednagar","delhi","jalna"]
sort=sorted(city,key=lambda x:len(x),reverse=True)
print(sort)

['Ahmednagar', 'delhi', 'jalna', 'pune']

In [21]:
from functools import reduce

city = ["pune", "Ahmednagar", "delhi", "jalna"]

# Use reduce to sort the list by length in reverse order
sorted_city = reduce(
    lambda acc, current: sorted(acc + [current], key=lambda x: len(x), reverse=True),
    city,
    []
)

print(sorted_city)

['Ahmednagar', 'delhi', 'jalna', 'pune']