In [ ]:
# loop 

#Somethimes we want to repeat a set of statement in our program for instance : print 1 to 100

In [ ]:
#Loops make it easy to programmer to tell the computer which set of instruction to repeat and how !

In [ ]:
#syntax : while(condition)#the block keeps executing until the condition is true

In [ ]:
# In the loop is entered the process [condition checks & execution] is continue until the condition become false.

In [3]:
for i in  range(1,51,2*2):
    print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49

In [7]:
i=0;
while(i<6):
    print(i)
    i=i+1

0
1
2
3
4
5

In [8]:
for i in range(1,5):
    print("Hello,Avinash")

Hello,Avinash
Hello,Avinash
Hello,Avinash
Hello,Avinash

In [9]:
i=0
while(i<5):
    print("Hello,Avinash")
    i=i+1

Hello,Avinash
Hello,Avinash
Hello,Avinash
Hello,Avinash
Hello,Avinash

In [10]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [21]:
l=[1,2,3,4,5]
i=0
while(i < len(l)):
    print(l[i])
    i=i+1

1
2
3
4
5

In [29]:
name=input("Enter Name")
for i in name:
    print(i)
print('name lenght',len(name))

a
v
i
n
a
s
h
name lenght 7

In [ ]:
# for loop with tuple

In [30]:
t=(15,16,17,12)
for i in t:
    print(i)

15
16
17
12

In [34]:
for i in range(3,33,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [37]:
for i in range(1,100):
    if(i==23):
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [38]:
for i in range(1,100):
    if(i==23):
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [44]:
for i in range(1,20): 
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
# For Loop

#A for loop is used to iterate through a sequance like list tuple or string [literables]

In [47]:
for i in range(1,10):
    if(i==3):
       continue
    print(i)

1
2
4
5
6
7
8
9

In [ ]:
# start stop step

In [53]:
for i in range(1,10):
    pass
    
for j in range(11,16):
    print(j)

11
12
13
14
15

In [62]:
n=int(input("Enter number"))
for i in range(1,11):
    print(f"{n}X {i}= {n*i} ")

7X 1= 7
7X 2= 14
7X 3= 21
7X 4= 28
7X 5= 35
7X 6= 42
7X 7= 49
7X 8= 56
7X 9= 63
7X 10= 70