In [55]:
lst=[]
print(type(lst))

<class 'list'>

In [56]:
name=['abc','avinash',1,'he',1.1,True]
print(type(name))

<class 'list'>

In [57]:
## accecing elements

fruits=['Avinash','soham',2.3,True]
print(fruits[0:4])
print(fruits[-2])

['Avinash', 'soham', 2.3, True]
2.3

In [58]:
## modfying the list 

fruits[0]="apple"
fruits

['apple', 'soham', 2.3, True]

In [59]:
fruits[1]='watermeloan'
fruits

['apple', 'watermeloan', 2.3, True]

In [60]:
## append list 

fruits.append("orange") ##ad d the item in the list in last 
fruits

['apple', 'watermeloan', 2.3, True, 'orange']

In [61]:
fruits.insert(2,"Avinash")
fruits

['apple', 'watermeloan', 'Avinash', 2.3, True, 'orange']

In [62]:
fruits.pop() # remove the last element 
fruits

['apple', 'watermeloan', 'Avinash', 2.3, True]

In [63]:
fruits.index('apple')

0

In [64]:
fruits.append("banma")
fruits

['apple', 'watermeloan', 'Avinash', 2.3, True, 'banma']

In [65]:
fruits.pop()

'banma'

In [66]:
fruits.count('banma')

0

In [67]:
print(type(fruits))

<class 'list'>

In [68]:
fruits

['apple', 'watermeloan', 'Avinash', 2.3, True]

In [69]:
fruits.remove(True)

In [70]:
fruits.sort()
fruits

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
fruits.reverse()
fruits

['watermeloan', 'banma', 'banma', 'apple', 'Avinash', 'Avinash', 'Avinash']

In [ ]:
fruits.clear()
fruits

[]

 ## Slicing