In [3]:
## Sets

set={1,2,3,4,5,6}
set

{1, 2, 3, 4, 5, 6}

In [3]:
my_set=set()
print(type(my_set))

<class 'set'>

In [5]:
my_set=set([1,2,3,4,5])
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [9]:
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [10]:
my_set=set([1,2,3,4,5,5,5,6,6,7])
my_set

{1, 2, 3, 4, 5, 6, 7}

In [14]:
my_set.remove(4)
my_set

{3, 5, 6, 7}

In [16]:
my_set.copy()

{3, 5, 6, 7}

In [17]:
#pop element 

remove_element=my_set.pop()
print(remove_element)
print(my_set)

3
{5, 6, 7}

In [22]:
## set membership set
my_set={1,2,3,4,5,6}
print( 1 in my_set)
print(10 in my_set)

True
False

In [3]:
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {67, 97, 8, 12, 23, 14, 95}

union_set = set1.union(set2)
print(union_set)

intersection_set = set2.intersection(set1)
print(intersection_set)

print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 97, 67, 8, 12, 14, 23, 95}
set()
set()

In [6]:
## diffrence
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {7, 7, 8, 2, 3, 4, 5}

print(set1.difference(set2))

{1, 6}

In [7]:
# symmetric diffrence 

print(set1.symmetric_difference(set2))

{1, 6, 8}

In [ ]:
## sets method

set1 ={1,2,3}
set2 ={3,5,6}

# is subset

print(set1.issubset(set2))
# is superset

print(set1.issuperset(set2))

False
False

In [13]:

## unique word in set

text="Hello All This I am Avinash"
word=text.split()

# convert list of word to set to get unique word


union_word=set(word)
print(union_word)
print(len(union_word))

{'Avinash', 'I', 'am', 'All', 'This', 'Hello'}
6