### Tuple

In [1]:
## creating tuple

empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

#### Accessing Tuple Element

In [5]:
numbers=(1,2,3,4,5,6,7,8,9)
numbers
print(type(numbers))

<class 'tuple'>

In [14]:
print(numbers[0])
print(numbers[-1])
print(numbers[:4])
print(numbers[1:5:2])

1
9
(1, 2, 3, 4)
(2, 4)

### Tuple Operation

In [15]:
mixed_tuple=('Avinash',1,2,4,True)

con_tuple=numbers+mixed_tuple
print(con_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'Avinash', 1, 2, 4, True)

In [16]:
mixed_tuple *3

('Avinash', 1, 2, 4, True, 'Avinash', 1, 2, 4, True, 'Avinash', 1, 2, 4, True)

In [17]:
numbers *2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
## Tuple Methods

tuple=(1,2,3,4,3,1,4,4,5,6)
print(type(tuple))

<class 'tuple'>

In [7]:
tuple.index(2)

1

In [13]:
tuple.count(4)

3

In [14]:
tuple.count(1)

2

In [15]:
## packing & unpacking 

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [16]:
## unpacking 

a,b,c=packed_tuple
print(a)

1

In [17]:
print(b)

Hello

In [18]:
print(c)

3.14

In [22]:
## unpaking with * 

first,*middle,last=tuple
print(first)
print(middle)
print(last)

1
[2, 3, 4, 3, 1, 4, 4, 5]
6

In [32]:
## Nested List

lst=[[1,2,3,],[1,4,5],['Avinash','banti','rahul']]
lst[2][2]

'rahul'

In [37]:
# nested tuple

nested_tuple=((1,2,3),('Avinash','rahul','one'),(2,5,6))

print(nested_tuple[0])
print(nested_tuple[1][2])
print(nested_tuple[2][2])

(1, 2, 3)
one
6

In [40]:
# iteration of for loop

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
Avinash rahul one
2 5 6