### Tuple

In [1]:
## creating tuple

empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

#### Accessing Tuple Element

In [5]:
numbers=(1,2,3,4,5,6,7,8,9)
numbers
print(type(numbers))

<class 'tuple'>

In [14]:
print(numbers[0])
print(numbers[-1])
print(numbers[:4])
print(numbers[1:5:2])

1
9
(1, 2, 3, 4)
(2, 4)

### Tuple Operation

In [15]:
mixed_tuple=('Avinash',1,2,4,True)

con_tuple=numbers+mixed_tuple
print(con_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'Avinash', 1, 2, 4, True)

In [16]:
mixed_tuple *3

('Avinash', 1, 2, 4, True, 'Avinash', 1, 2, 4, True, 'Avinash', 1, 2, 4, True)

In [17]:
numbers *2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
## Imutable nature of tuble